/.cache
/.work
/_output
cover.out
/vendor
/.vendor-new
.registry

# ignore GoLand files (debug config etc...)
/.idea

# ignore vscode files (debug config etc...)
/.vscode

# Tilt
tilt-settings.json
tild.d/
tilt_modules/
cluster/local/provider.Tiltfile

.env
/test-files